.submit-div{
    text-align: center;
    margin-top: 20vh;
}
.submit-button{
    text-align: center;
    margin-top: 20px;
}
ion-input{
    margin-top: 10vh;
    border: 1px solid grey;
    border-radius: 21px;
}
span{
    font-size: 10px;
    margin-left: 15px;
    color: red;
}