<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
    <ion-icon name="power-outline" slot="end" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <div class="user-data">
   <ion-card *ngFor="let data of userDataAll">
<ion-list>
  <ion-item >
    <ion-label>MobileNo</ion-label>
    <ion-label>{{data.OTPCode}}</ion-label>
  </ion-item>
  <ion-item >
    <ion-label>CaptchaCode</ion-label>
    <ion-label>{{data.CaptchaCode}}</ion-label>
  </ion-item>
</ion-list>
<ion-card-content>
{{result}}
</ion-card-content>
   </ion-card>
 </div>
</ion-content>
